/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Luckiest+Guy&family=Permanent+Marker&display=swap');
*{
    margin: 0;
    padding: 0;
}
h1{
  font-family: 'Luckiest Guy';
}
h2{
  font-family: 'Luckiest Guy';
}
h4{
  color: #ffa500;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Permanent Marker';
}
h6{
  background-color: #ffa500;
  font-weight: bold;
  font-size: 16px;
  border-radius: 50%;
  width: fit-content;
  padding: 10px;
  text-align: center;
}
p{
  font-family: 'Amatic SC';
  color: rgb(255, 255, 255) !important;
  font-size: 23px;
/* font-family: 'Permanent Marker', cursive; */

}
a{
  font-family: 'Permanent Marker';
}

body {
    font-family: Montserrat, sans-serif;
  }
  #about .container {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #000000;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  }
  #resume .container {
    min-height: 20px;
    /* padding: 19px; */
    /* margin-bottom: 20px; */
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #000000;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  }

  #portfolio .container {
    min-height: 20px;
    /* padding: 19px; */
    /* margin-bottom: 20px; */
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #000000;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  }

  #contact .container {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #000000;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  }
  #about .card {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #000000;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  }
/* menu hover */
.menu a{
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  padding: 4px 0;
}
.menu a::before{
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0,1,1);
  transform-origin: 0 50%;
}
.menu a:hover::before{
  transform: scale3d(1,1,1);
}
.menu-1 a::before{
  background: #E91E63;
  transform-origin: 100% 50%;
}
.menu-1 a:hover::before{
  transform-origin: 0 50%;
}
/* end menu */
.lead{
  font-size: 40px;
}

  .navbar-brand {
    background-image: url("./images/image001.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
  }
  /* .navbar-nav .nav-item:hover {
    background-color: rgba(153, 4, 141, 0.4);
  } */
  .overlay{
  background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.carousel-item .card img{
max-height:200px;
max-width: 200px;
}
.carousel-indicators{
  bottom: -30px;
}
body {
  color: whitesmoke;
    background: #00686b;
    background: -webkit-linear-gradient(to right, #801010, #0c2cb9);
    background: linear-gradient(to right, #580808, #081861);
    min-height: 100vh;
}
li{
  list-style: none;
}
/* masterhead */
#landing {
    background: url("./images/wp9292504.jpg");
    background-size: cover;
    height: 100vh;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  

  nav{
      position: sticky;
  }
  .rounded-image{
      border-radius: 50% !important;
      max-width: 200px !important;
      max-height:200px !important;

  }
 .container .card .img{
    display: flex !important;
      position: absolute;
      justify-content: center !important;
  }


  .circle{
    width: 15px;
    aspect-ratio: 1 !important;
    height: auto !important;
    border-radius: 50% !important;
  }
  .card img{
    width: 100px;
    height: 100px;
  }

/* skills */
#skill-bars {
    width: 50%;
    margin: 0 auto;
  }
  /* buttons */
  #interests .btn{
    width: 11.25rem;
    color: rgb(55, 0, 255);
    background-image: linear-gradient(
      to right,
      #777777,
      #3a3d3f,
      #1d1d1d,
      #111111,
      #000000
    );
  }
  #interests .btn .fa {
    color: red !important;
  }

 #landing .btn {
    background-image: linear-gradient(
      to right,
      #bfefff,
      #8dd2f3,
      #5fb4e8,
      #3594dc,
      #1874cd
    );
  }
  #contact .btn {
    background-image: linear-gradient(
      to right,
      #bfefff,
      #8dd2f3,
      #5fb4e8,
      #3594dc,
      #1874cd
    );
  }
  #portfolio .btn {
    color: #000000;
    background-image: linear-gradient(
      to right,
      #bfefff,
      #8dd2f3,
      #5fb4e8,
      #3594dc,
      #1874cd
    );
  }
  
  .fa-user-tag,
  .blue,
  .list-inline-item i:hover {
    color: #5fb4e8;
    transition: all 0.2s ease-in-out;
  }
/* skills */
.skillbar {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.skillbar-bar:before {
  background: #eee;
  content: "";
  height: 3px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.skillbar-bar {
  height: 3px;
  width: 0px;
  background: #323232;
  transition-property: width, background-color;
}

.skillbar-title {
  color: #323232;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.skill-bar-percent {
  float: right;
  display: inline-block;
  color: #323232;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

/* resume */
/* #resume{
  /* margin-top:-15%; */
  /* padding: 10%; */
#resume h4{
  color: #ffa500;
  font-weight: bold;
  font-size: 30px;
}
#resume .subheading{
  color: #3931af;
  font-size: 20px;
}
/* #resume .row
{
  margin-top: 1em;
} */
.how-img 
{
  text-align: center;
}
.how-img img{
  width: 40%;
}
.bullet {
  display: inline-block;
  width: 25px;
  height: 25p;
  border: 2px solid rgba(172, 8, 8, 0.884);
  background-color: #5A5959;
  border-radius: 50%;
  aspect-ratio: 1;
  transform: translate(-15px, -10px);
  gap: 10px;
}
.exp {
  border-left: 1px solid rgba(172, 8, 8, 0.884);
}
.edu {
  border-left: 1px solid rgba(172, 8, 8, 0.884);
}

/* owl caro */

/* portfolio */
.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.project-container img {
  min-width: 200px;
  flex-grow: 1;
  object-fit: cover;
  max-height: 400px;
}

.staff {
  position: relative;
}
.staff img{
  min-width: 200px;
  flex-grow: 1;
  object-fit: cover;
height: 300px;
}
.staff-details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.89) 100%
  );
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  transition: all 0.3s linear;
}

.staff:hover .staff-details {
  opacity: 1;
}
/* contact */

#contact .subheading{
  color: #3931af;
  font-size: 20px;
}