*{
    margin: 0;
    padding: 0;
}
h4{
  color: #ffa500;
  font-weight: bold;
  font-size: 30px;
}
h6{
  background-color: #ffa500;
  font-weight: bold;
  font-size: 16px;
  border-radius: 50%;
  width: fit-content;
  padding: 10px;
  text-align: center;
}

body {
    font-family: Montserrat, sans-serif;
  }
  .navbar-brand {
    background-image: url("./images/image001.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
  }
  
  .navbar-nav .nav-item:hover {
    background-color: rgba(180, 190, 203, 0.4);
  }
  .overlay{
  background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.carousel-item .card img{
max-height:200px;
max-width: 200px;
}
body {
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;
}
/* masterhead */
#landing {
    background: url("./images/wp9292504.jpg");
    background-size: cover;
    height: 100vh;
  }

  nav{
      position: sticky;
  }
  .rounded-image{
      border-radius: 50% !important;
      max-width: 200px !important;
      max-height:200px !important;

  }
 .container .card .img{
    display: flex !important;
      position: absolute;
      justify-content: center !important;


  }
  .circle{
    width: 15px;
    aspect-ratio: 1 !important;
    height: auto !important;
    border-radius: 50% !important;
  }
  .card img{
    width: 100px;
    height: 100px;
  }

/* skills */
#skill-bars {
    width: 50%;
    margin: 0 auto;
  }
  
  .progress-bar,
  .btn {
    background-image: linear-gradient(
      to right,
      #bfefff,
      #8dd2f3,
      #5fb4e8,
      #3594dc,
      #1874cd
    );
  }
  
  .fa-user-tag,
  .blue,
  .list-inline-item i:hover {
    color: #5fb4e8;
    transition: all 0.2s ease-in-out;
  }
/* skills */
.skillbar {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.skillbar-bar:before {
  background: #eee;
  content: "";
  height: 3px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.skillbar-bar {
  height: 3px;
  width: 0px;
  background: #323232;
  transition-property: width, background-color;
}

.skillbar-title {
  color: #323232;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.skill-bar-percent {
  float: right;
  display: inline-block;
  color: #323232;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

/* resume */
#resume{
  margin-top:-15%;
  padding: 10%;
}
#resume h4{
  color: #ffa500;
  font-weight: bold;
  font-size: 30px;
}
#resume .subheading{
  color: #3931af;
  font-size: 20px;
}
#resume .row
{
  margin-top: 10%;
}
.how-img 
{
  text-align: center;
}
.how-img img{
  width: 40%;
}